/templates/vg_cacoon/*
/templates/docstheme/*
/templates/sandbox1/*
/templates/stripe/*
/templates/DataTables/*
/templates/sandbox3/assets/img/avatars/*
/templates/sandbox3/assets/img/brands/*
/templates/sandbox3/assets/img/demos/*
/tinymce/*